.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  background: white;
  padding: 32px 50px;
  border-radius: 8px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn {
  background-image: url(../images/x-icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  opacity: 0.4;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
}

.modal__title {
  color: #212121;
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  color: rgba(33, 33, 33, 0.7);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  box-sizing: border-box;
  line-height: 1;
  color: #212121;
  width: 100%;
  border: solid 1px;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__input:hover {
  border-color: #212121;
}

.modal__save-btn:hover {
  opacity: 0.5;
}

.modal__save-btn {
  width: 156px;
  padding: 18px 32px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  border: 0;
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }
  .modal__container {
    padding: 12px;
  }

  .modal__title {
    margin: 10px 0 30px;
    font-size: 20px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }
  .modal__input {
    font-size: 16px;
  }

  .modal__save-btn {
    width: 100%;
  }
}
